
*{
    background-color:beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family:'Instrument Serif', serif;
    font-weight: 400;
}

h1{
    font-size: 50px;
}
p{
    font-size:20px;
}
#subheading-credits{
    margin-top:-30px;
    font-size:16px;
}
body{
    padding:10px;
}

.header{
    text-align:center;
}

.music-notation-graph{
    height:100px;
    width:100%;
}
.data-source{
    font-size:9px;
    color: darkgrey;
    left: 2px;
}
/* music notation */
.music-bar{
    height:2px;
    background-color: #44444432;
    z-index:-9999;
    width:100%;
    margin-bottom:10px;
}
/*pie chart*/

.pie-chart {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    background: conic-gradient(
      #ff5722 0% 32.2%,
      #ffc107 32.2% 69.1%,
      #2196f3 69.1% 72.1%,
      #4caf50 72.1% 92%,
      #9c27b0 92% 98.5%,
      #ff9800 98.5% 100%
    );
  }
  
  .slice {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 100% 100%, 0% 100%);
  }
  
  .concert, .physical, .streaming, .downloads, .perf-rights,.synchron {
    transform: rotate(0deg);
  }
  
  
  .physical {
    background-image: url('./Multistix-Urinalysis-Color-Key\ \(1\).png'); /* Change the URL to your desired image */
    background-size: cover;
  }
   