
body{
    background-color:beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family:'Instrument Serif', serif;
    font-weight: 400;
}

h1{
    font-size: 50px;
}
p{
    font-size:13px;
}
#subheading-credits{
    margin-top:-30px;
    font-size:10px;
}
body{
    padding:10px;
}

.header{
    text-align:center;
}
.header img{
    position: relative;
    margin-top: -52px;
    margin-right: -17px;
    margin-bottom: 30px;
}

.music-graph-container{
    margin-top:80px;
    margin-bottom:30px;
}

.music-notation-graph{
    width:100%;
    top:50px;
}

.music-notes{
    display:flex;
    flex-direction: row;
    justify-content:center;
    margin-top:-83px;
}
.data-source{
    font-size:9px;
    color: darkgrey;
    left: 2px;
    clear:both;
    margin-top:30px;

}
/* music notation */
.music-bar{
    height:2px;
    background-color: #0000ff1e;
    z-index:-9999;
    width:100%;
    margin-bottom:10px;
}
.music-notation{
    background-size: contain;
    background-repeat: no-repeat;
    z-index:9999;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:12px;
    position:relative;
}

.note-img{
    height:50px;
    width:50px;
    margin-bottom: 54px;
    background-repeat: no-repeat;
    background-size: contain;
    position:relative;
}


a:hover.music-notation{
    cursor:pointer;
    color:blue;
}
#treble-clef{
    background-image: url(./Assets/treble\ clef.png);
    top:21px;
    width:80px;
    height:80px;
}
#time-sig{
    background-image: url(./Assets/time-sig.png);
    top:34px;
    margin-left:-20px;
    width:40px;
    height:40px;
}
/* music note background image*/

#note-1, #note-2, #note-3, #note-4{
    background-image:url(./Assets/lower-half-note.png)
}

a:hover #note-1,a:hover #note-2, a:hover #note-3, a:hover #note-4, a:active #note-1, a:active #note-2, a:active #note-3, a:active #note-4, a:active #note-5, .active#note-1, .active#note-2, .active#note-3, .active#note-4{
    background-image:url(./Assets/lower-half-note\ copy.png)
}

#note-5, #note-6, #note-7, #note-8, #note-9, #note-10, #note-11{
    background-image: url(./Assets/low-half-note.png);
}

a:hover #note-5, a:hover #note-6, a:hover #note-7, a:hover #note-8, a:hover #note-9, a:hover #note-10, a:hover #note-11, a:active #note-6, a:active #note-7, a:active #note-8, a:active #note-9, a:active #note-10, a:active #note-11, .active#note-5, .active#note-6, .active#note-7, .active#note-8, .active#note-9, .active#note-10, .active#note-11{
    background-image: url(./Assets/low-half-note\ copy.png);
}

#note-12{
    background-image: url(./Assets/high-half-note.png);
}

a:hover #note-12, a:active #note-12, .active#note-12{
    background-image: url(./Assets/high-half-note\ copy.png);
}

#note-13{
    background-image: url(./Assets/high-qrter-note.png);
}

a:hover #note-13, a:active #note-13, .active#note-13{
    background-image: url(./Assets/high-qrter-note\ copy.png);
}
#note-1{
    top:49px;
}

#note-2{
    top:49px;
}
#note-3{
    top:49px;
}
#note-4{
    top:49px;
}
#note-5{
    top:45px;
}
#note-6{
    top:39px;
}
#note-7{
    top:34px;
}
#note-8{
    top:27px;
}
#note-9{
    top:22px;
}
#note-10{
    top:39px;
}

#note-11{
    top:22px;
}

#note-12{
    top:28px;
}


.y-axis p{
    font-size:10px;
    margin-bottom:12px;
}
.y-axis{
    margin-top:14px;
}


/*pie chart*/

.pie-container{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: left;
    z-index: 0;
    background-image: url(./Assets/Streaming.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} 
.pie, .hold{
    position: absolute;
    height:300px;
    width:300px;
    border-radius: 100%;
    clip: rect(0px, 150px, 300px, 0px);
    background-image: url(./Assets/s); /* Shared background image */
    background-size: cover;
}

.hold {
    clip: rect(0px, 300px, 300px, 150px);
}

.pie-wrap{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
/*pie slice backgrounds*/

#streaming-legend{
    background-image: url(./Assets/Streaming.png);
    background-size: cover;
}

#concerts .pie, #concerts-legend{
    background-image: url(./Assets/live\ concert.png);
    background-size: cover;
    background-position: center;
}

#physicals .pie, #physicals-legend {
    background-image:url(./Assets/cd\ photo.png);
    background-size: cover;
    background-position: center;
}

#downloads .pie, #downloads-legend {
    background-image:url(./Assets/pink.png);
    background-size:cover;
}

#perf-rights .pie , #perf-rights-legend {
    background-image:url(./Assets/teal.png);
    background-size:cover;
}

#synchron .pie, #synchron-legend{
    background-image:url(./Assets/yellow.png);
    background-size:cover;
}
/* 2011*/

#concerts.yr-2011 .pie {   
    transform:rotate(73.8deg);
}
  
#physicals.yr-2011 {
    transform: rotate(73.8deg);
}
  
#physicals.yr-2011 .pie {
    transform: rotate(155.52deg);
}
  
#streams.yr-2011 {
    transform: rotate(229.32deg);
}
  
#streams.yr-2011 .pie {
    transform: rotate(12.6deg);
}
  
#downloads.yr-2011 {
    transform: rotate(241.92deg);
}
  
#downloads.yr-2011 .pie {
    transform: rotate(84.24deg);
}
  
#perf-rights.yr-2011 {
    transform: rotate(326.16deg);
  }
  
#perf-rights.yr-2011 .pie {
    transform: rotate(27.36deg);
}
  
#synchron.yr-2011 {
    transform: rotate(353.52deg);
}
  
#synchron.yr-2011 .pie {
    transform: rotate(6.48deg);
}

/*2012*/
#concerts.yr-2012 .pie {   
    transform:rotate(79.2deg);
}
  
#physicals.yr-2012 {
    transform: rotate(79.2deg);
}
  
#physicals.yr-2012 .pie {
    transform: rotate(140.04deg);
}
  
#streams.yr-2012 {
    transform: rotate(219.24deg);
}
  
#streams.yr-2012 .pie {
    transform: rotate(18.72deg);
}
  
#downloads.yr-2012 {
    transform: rotate(237.96deg);
}
  
#downloads.yr-2012 .pie {
    transform: rotate(86.4deg);
}
  
#perf-rights.yr-2012 {
    transform: rotate(324.36deg);
  }
  
#perf-rights.yr-2012 .pie {
    transform: rotate(28.8deg);
}
  
#synchron.yr-2012 {
    transform: rotate(353.16deg);
}
  
#synchron.yr-2012 .pie {
    transform: rotate(6.12deg);
}

/*2013*/
#concerts.yr-2013 .pie {   
    transform:rotate(90.72deg);
}
  
#physicals.yr-2013 {
    transform: rotate(90.72deg);
}

#physicals.yr-2013 .pie {
    transform: rotate(122.4deg);
}
  
#streams.yr-2013 {
    transform: rotate(213.12deg);
}
  
#streams.yr-2013 .pie {
    transform: rotate(26.28deg);
}
  
#downloads.yr-2013 {
    transform: rotate(239.4deg);
}
  
#downloads.yr-2013 .pie {
    transform: rotate(82.44deg);
}
  
#perf-rights.yr-2013 {
    transform: rotate(321.84deg);
  }
  
#perf-rights.yr-2013 .pie {
    transform: rotate(32.04deg);
}
  
#synchron.yr-2013 {
    transform: rotate(353.88deg);
}
  
#synchron.yr-2013 .pie {
    transform: rotate(6.12deg);
}
/*2014*/
#concerts.yr-2014 .pie {   
    transform:rotate(96.48deg);
}
  
#physicals.yr-2014 {
    transform: rotate(96.48deg);
}
  
#physicals.yr-2014 .pie {
    transform: rotate(108.36deg);
}
  
#streams.yr-2014 {
    transform: rotate(204.84deg);
}
  
#streams.yr-2014 .pie {
    transform: rotate(36.72deg);
}
  
#downloads.yr-2014 {
    transform: rotate(241.56deg);
}
  
#downloads.yr-2014 .pie {
    transform: rotate(77.76deg);
}
  
#perf-rights.yr-2014 {
    transform: rotate(319.32deg);
  }
  
#perf-rights.yr-2014 .pie {
    transform: rotate(34.56deg);
}
  
#synchron.yr-2014 {
    transform: rotate(353.88deg);
}
  
#synchron.yr-2014 .pie {
    transform: rotate(6.12deg);
}
/*2015*/

#concerts.yr-2015 .pie {   
    transform:rotate(97.2deg);
}
  
#physicals.yr-2015 {
    transform: rotate(97.2deg);
}
  
#physicals.yr-2015 .pie {
    transform: rotate(100.08deg);
}
  
#streams.yr-2015 {
    transform: rotate(197.28deg);
}
  
#streams.yr-2015 .pie {
    transform: rotate(51.12deg);
}
  
#downloads.yr-2015 {
    transform: rotate(248.4deg);
}
  
#downloads.yr-2015 .pie {
    transform: rotate(70.56deg);
}
  
#perf-rights.yr-2015 {
    transform: rotate(318.96deg);
  }
  
#perf-rights.yr-2015 .pie {
    transform: rotate(35.28deg);
}
  
#synchron.yr-2015 {
    transform: rotate(354.24deg);
}
  
#synchron.yr-2015 .pie {
    transform: rotate(5.76deg);
}

/*2016*/

#concerts.yr-2016 .pie {   
    transform:rotate(107.64deg);
}
  
#physicals.yr-2016 {
    transform: rotate(107.64deg);
}
  
#physicals.yr-2016 .pie {
    transform: rotate(84.24deg);
}
  
#streams.yr-2016 {
    transform: rotate(191.88deg);
}
  
#streams.yr-2016 .pie {
    transform: rotate(75.6deg);
}
  
#downloads.yr-2016 {
    transform: rotate(267.48deg);
}
  
#downloads.yr-2016 .pie {
    transform: rotate(51.48deg);
}
  
#perf-rights.yr-2016 {
    transform: rotate(318.96deg);
  }
  
#perf-rights.yr-2016 .pie {
    transform: rotate(36deg);
}
  
#synchron.yr-2016 {
    transform: rotate(354.96deg);
}
  
#synchron.yr-2016 .pie {
    transform: rotate(5.04deg);
}

/*2017*/

#concerts.yr-2017 .pie {   
    transform:rotate(119.52deg);
}
  
#physicals.yr-2017 {
    transform: rotate(119.52deg);
}
  
#physicals.yr-2017 .pie {
    transform: rotate(69.48deg);
}
  
#streams.yr-2017 {
    transform: rotate(189deg);
}
  
#streams.yr-2017 .pie {
    transform: rotate(93.96deg);
}
  
#downloads.yr-2017 {
    transform: rotate(282.96deg);
}
  
#downloads.yr-2017 .pie {
    transform: rotate(37.8deg);
}
  
#perf-rights.yr-2017 {
    transform: rotate(320.76deg);
  }
  
#perf-rights.yr-2017 .pie {
    transform: rotate(33.12deg);
}
  
#synchron.yr-2017 {
    transform: rotate(353.88deg);
}
  
#synchron.yr-2017 .pie {
    transform: rotate(6.12deg);
}

/*2018*/

#concerts.yr-2018 .pie {   
    transform:rotate(120.6deg);
}
  
#physicals.yr-2018 {
    transform: rotate(120.6deg);
}
  
#physicals.yr-2018 .pie {
    transform: rotate(56.52deg);
}
  
#streams.yr-2018 {
    transform: rotate(177.12deg);
}
  
#streams.yr-2018 .pie {
    transform: rotate(120.96deg);
}
  
#downloads.yr-2018 {
    transform: rotate(298.08deg);
}
  
#downloads.yr-2018 .pie {
    transform: rotate(21.96deg);
}
  
#perf-rights.yr-2018 {
    transform: rotate(320.04deg);
  }
  
#perf-rights.yr-2018 .pie {
    transform: rotate(34.56deg);
}
  
#synchron.yr-2018 {
    transform: rotate(354.6deg);
}
  
#synchron.yr-2018 .pie {
    transform: rotate(5.4deg);
}

/*2019*/

#concerts.yr-2019 .pie {   
    transform:rotate(120.24deg);
}
  
#physicals.yr-2019 {
    transform: rotate(120.24deg);
}
  
#physicals.yr-2019 .pie {
    transform: rotate(49.68deg);
}
  
#streams.yr-2019 {
    transform: rotate(169.92deg);
}
  
#streams.yr-2019 .pie {
    transform: rotate(136.44deg);
}
  
#downloads.yr-2019 {
    transform: rotate(306.36deg);
}
  
#downloads.yr-2019 .pie {
    transform: rotate(18deg);
}
  
#perf-rights.yr-2019 {
    transform: rotate(324.36deg);
  }
  
#perf-rights.yr-2019 .pie {
    transform: rotate(30.6deg);
}
  
#synchron.yr-2019 {
    transform: rotate(354.96deg);
}
  
#synchron.yr-2019 .pie {
    transform: rotate(5.04deg);
}

/*2020*/

#concerts.yr-2020 .pie {   
    transform:rotate(24.48deg);
}
  
#physicals.yr-2020 {
    transform: rotate(24.48deg);
}
  
#physicals.yr-2020 .pie {
    transform: rotate(61.56deg);
}
  
#streams.yr-2020 {
    transform: rotate(86.04deg);
}
  
#streams.yr-2020 .pie {
    transform: rotate(210.96deg);
}

#downloads.yr-2020 {
    transform: rotate(297deg);
}
  
#downloads.yr-2020 .pie {
    transform: rotate(19.8deg);
}
  
#perf-rights.yr-2020 {
    transform: rotate(316.8deg);
  }
  
#perf-rights.yr-2020 .pie {
    transform: rotate(36.72deg);
}
  
#synchron.yr-2020 {
    transform: rotate(353.52deg);
}
  
#synchron.yr-2020 .pie {
    transform: rotate(6.48deg);
}

/*2021*/

#concerts.yr-2021 .pie {   
    transform:rotate(59.4deg);
}
  
#physicals.yr-2021 {
    transform: rotate(59.4deg);
}
  
#physicals.yr-2021 .pie {
    transform: rotate(54deg);
}
  
#streams.yr-2021 {
    transform: rotate(113.4deg);
}
  
#streams.yr-2021 .pie {
    transform: rotate(197.64deg);
}
  
#downloads.yr-2021 {
    transform: rotate(311.04deg);
}
  
#downloads.yr-2021 .pie {
    transform: rotate(13.68deg);
}
  
#perf-rights.yr-2021 {
    transform: rotate(324.72deg);
  }
  
#perf-rights.yr-2021 .pie {
    transform: rotate(28.8deg);
}
  
#synchron.yr-2021 {
    transform: rotate(353.52deg);
}
  
#synchron.yr-2021 .pie {
    transform: rotate(6.12deg);
}

/*2022*/

#concerts.yr-2022 .pie {   
    transform:rotate(123.12deg);
}
  
#physicals.yr-2022 {
    transform: rotate(123.12deg);
}
  
#physicals.yr-2022 .pie {
    transform: rotate(41.04deg);
}
  
#streams.yr-2022 {
    transform: rotate(164.16deg);
}
  
#streams.yr-2022 .pie {
    transform: rotate(159.48deg);
}
  
#downloads.yr-2022 {
    transform: rotate(323.64deg);
}
  
#downloads.yr-2022 .pie {
    transform: rotate(8.28deg);
}
  
#perf-rights.yr-2022 {
    transform: rotate(331.92deg);
  }
  
#perf-rights.yr-2022 .pie {
    transform: rotate(22.68deg);
}
  
#synchron.yr-2022 {
    transform: rotate(354.6deg);
}
  
#synchron.yr-2022 .pie {
    transform: rotate(5.4deg);
}

/*2023*/

#concerts.yr-2023 .pie {   
    transform:rotate(142.56deg);
}
  
#physicals.yr-2023 {
    transform: rotate(142.56deg);
}
  
#physicals.yr-2023 .pie {
    transform: rotate(38.88deg);
}
  
#streams.yr-2023 {
    transform: rotate(181.44deg);
}
  
#streams.yr-2023 .pie {
    transform: rotate(146.88deg);
}
  
#downloads.yr-2023 {
    transform: rotate(328.32deg);
}
  
#downloads.yr-2023 .pie {
    transform: rotate(6.84deg);
}
  
#perf-rights.yr-2023 {
    transform: rotate(335.16deg);
  }
  
#perf-rights.yr-2023 .pie {
    transform: rotate(20.52deg);
}
  
#synchron.yr-2023 {
    transform: rotate(355.68deg);
}
  
#synchron.yr-2023 .pie {
    transform: rotate(4.68deg);
}

/*Legend*/

.legend{
    margin-top: 30px;
    display: flex;
    left: 40%;
    flex-direction: column;
}
.legend-pair{
    display:flex;
    flex-direction: row;
}
.legend-box{
    width:20px;
    height:20px;

    border: solid black 2px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    display:inline-block;
}

.note{
    margin-top: 30px;
    display: flex;
}

.note-col{
    display:flex;
    flex-direction:column;
    width:40vw;
    max-width:500px;
}

p, h3{
    margin-bottom:0px;
    margin-top:5px;
}